*
{
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;

    background-color: black;
    position: absolute
    
}

.main{

    position: relative;
    align-items: center;
    justify-content: center;
    left: 18rem;
    top: 14.5rem;
    padding: 20px;
    border-radius: 1cm;

    background: rgba(10, 235, 22, 0.5);
    z-index: 1;
  
    
    

}

h1
{
    padding: 7px;
}
h2
{
    padding: 7px;
    background-color: black;
    margin: 6px;
    border-radius: 1cm;
    color: white;
    width: 20rem;

}

.in{
    padding: 10px;
    border-radius: 1cm;
    background: white;
}

.but{
    padding: 7px;
    border-radius: 1cm;
    background: none;
}

.but:hover{
    background-color: white;
}

img
{
    height: 40rem;
    width: 96rem;
 
    z-index: 0;
    position: absolute;
}